.login-form-layout {
    min-height: 700px;
    margin-top: 50px;
    .login-left-img {
        margin-left: 15%;
    }
    .login-rigiht-img {
        margin-top: 16%;
    }
    .login-form {
        margin-top: 90px;
        .login-form-button {
            width: 100%;
            border-radius: 6px;
        }
    }
    
}