.login-form-layout {
    min-height: 900px;
    padding: 100px;
    background-image: url('../../images/login_img.png');
    .login-left-img {
        margin-left: 15%;
        margin-top: 7%;
        width: 550px;
    }
    .login-rigiht-img {
        margin-top: 25%;
    }
    .login-form {
        margin-top: 90px;
        .login-form-button {
            width: 100%;
            border-radius: 6px;
        }
    }
    
}