.layout-home {
    padding-top: 50px;
    background-color: #f4f7ff;
    .layout-home-col {
        background-color: #f4f7ff;
        position: relative;
        .layout-home-title {
            text-indent: 20px;
            width: 650px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%);
        }
        .layout-home-info {
            width: 650px;
            height: 300px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border: 1px solid #dadada;
        }
    }
}