.layout-home-reminder {
    position: relative;

    .reminder-content {
        display: inline-block;
        height: 54px;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        margin-top: 22px;
        border-bottom: 1px solid #e8e8e8;
    }

    .reminder-content-link {
        cursor: pointer;

    }

    .entry-number-line {
        position: absolute;
        left: 49%;
        width: 1px;
        height: 300px;
        background-color: #dadada;

    }
}