.basic-information {
    .basic-operator-set {
        padding: 10px 0;
        background-color: #f0f5ff;
    }

    .basic-content-table {
        .ant-table-thead .ant-table-row-cell-break-word {
            background-color: #f0f5ff;
        }
    }

    .basic-paging {
        margin-top: 15px;
        text-align: right;
    }

    .basic-action-span {
        color: #658ef7;
        cursor: pointer;
    }

    .ant-table-row-cell-break-word {
        padding: 1px;
    }

    .ant-form-item {
        margin-bottom: 0;
    }

}