.inservice-menu {
    .ant-menu-horizontal {
        border-bottom: none;
        color: #fff;
        .ant-menu-item {
            border-bottom: none;
        }
        .ant-menu-item-selected {
            background-color: #426fe3;
        }
    }
}